#todo {
  margin: 10px;
}

#timeDayDate, #box-shadow {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

#new-event-button {
  cursor:pointer;
  border: none;
  width: 100%;
  background-color: #fffba4;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 5px;
}

#new-event-canvas {
  display: none;
  background-color: #fffba4;
  width: 100%;
}

#position-button-x {
  display: flex;
  margin-right: 5px;
  flex-direction: row-reverse;
}

#input-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 5px;
  margin-top: 5px;
}

#input-form > input, #input-form > button {
  padding: 3px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.1rem;
  font: inherit;
}

#input-form > button {
  margin-bottom: 5px;
}

#cancel-event-button {
  font-size: 1rem!important;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 5px;
  background: white;
  padding: 3px 6px 2px 6px;
}

#add-task-button {
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: column-reverse;
  padding: 0px;
  row-gap: 5px;
}

.event-block {
  background-color: #fffba4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  row-gap: 10px;
  font-size: 1.2rem;
  align-items: center;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

#position-button {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 1px;
  margin-right: 1px;
}

#position-button > button {
  height: 100%;
  font-size: 1.1rem;
  font: inherit;
  font-size: 1rem!important;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 5px;
  background: white;
  padding: 3px 5px 0px 5px;

}

#delete-task {
  cursor:pointer;
}




